/* Structure */

html {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  flex-direction: column;
}

.centered {
  left: 0;
  position:absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  z-index: -1;
}

#loadingBar {
  background-color: black;
  border-radius: 13px;
  margin: 0 auto;
  padding: 3px;
  width: 200px;
}

#loadingBar > div {
  background-color: blue;
  border-radius: 10px;
  height: 10px;
  width: 0;
}

#naclModule {
    height: 288px;
    width : 320px;
    transform-origin: 0% 0%;
    image-rendering: -webkit-optimize-contrast;
}

#wrap {
    height: 440px;
    width : 480px;
}
  /* -webkit-transorm: scale(1.5); */

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: block;
    min-height: 500px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.hide {
    display: none;
}

.hidden{
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

